@* header Template File *@
@(title: String)

<header class="main-header">

        <!-- Logo -->
    <a href="@routes.ApplicationController.index()" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>P</b>LAY</span>
            <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Play</b>-With-Github</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <div class="sidebar-form">
            <div class="input-group">
                <input type="text" id="repo-input" name="repo-input" class="form-control" placeholder="owner/repo (Example: techmonad/play-with-github)">
                <span class="input-group-btn">
                <button name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </div>
        <!-- /.search form -->
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- search form -->

            </ul>
        </div>
    </nav>

</header>
